.ContactForm{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #ff5900;
    flex-basis: 25em;
}

.ReachMe{
    width: 100%;
    height: 50px;
    font-size: 25px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    color: white;
}