.TopHeader{
    width: 100%;
    height: 100px;
    background-color: white;
    font-size: 18px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.logoText{
    
    font-size: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    font-weight: 900;
}

.logoImage{
    object-fit: contain;
    position: static !important;
}